.nav {
  display: flex;
  margin-left: 24px;
  align-items: baseline;
}

.link {
  position: relative;
  width: 100%;
  font-size: 19px !important;
  color: #40a9ff;
  text-decoration: none;
}

.active {
  &::before {
    position: absolute;
    top: 22px;
    left: 9px;
    width: 8px;
    height: 8px;
    content: '';
    background-color: #40a9ff;
    border-radius: 50%;
  }
}

.logo {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
  margin-right: 24px;
}
